.header {
  padding: 45px 0 0;
  max-width: 880px;
  width: 100%;
  margin: 0 auto 40px;
  align-content: flex-end;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  animation: fadeIn 1s ease-in-out forwards;
}
.header__logo {
  max-width: 880px;
  width: 100%;
  max-height: 74px;
  height: 100%;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: end;
  align-items: center;
  animation: fadeIn 1s ease-in-out forwards;
}
.header__email {
  margin: 0 25px 0 0;
  font-family: "Inter";
}
.header__logout-btn {
  background: transparent;
  border: none;
  font-family: "Inter";
  color: aliceblue;
  text-decoration: none;
  cursor: pointer;
}
.header__logout-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0;
  }
  .header__logo {
    max-width: 768px;
    width: 100%;
    padding: 45px 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 520px) {
  .header {
    margin: 0;
    padding: 28px;
    box-sizing: border-box;
  }
  .header__logo {
    max-width: 320px;
    width: 100%;
    max-height: 56px;
    height: 100%;
    padding: 0px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
